*{
    margin: 0px;
    padding: 0px;
}

.logo p {
    width: 200px;
    color: black;
    font-size: 18px;
    margin-top: 4px;
    height: 40px;
    padding-left: 10px;
}

.bar{
    width: 30px;
    margin: 4px;
    height: 4px;
    color: whitesmoke;
    background-color: green;
}

.btn{
    border: 1px solid black;
    display:inline-block;
    cursor: pointer;
}

.logoBtn{
    height: 10%;
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:  1px solid black;
}

.showNav{
    height: auto;
}

ul{
    list-style: none;
    height: 0px;
    overflow: hidden;
}

ul li a{
    background: whitesmoke;
    display: block;
    padding: 10px;

    color: black;
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: 17px;
}

ul li a:hover{
    background: rgb(221, 211, 211);
    color: rgb(253, 56, 7);
    padding-left: 20px;
}


/* Responsive Mode*/

@media screen and (min-width:640px) {
    nav{
        background: whitesmoke;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    .btn{
        display: none;
    }

    ul{
        display: flex;
    }

    nav ul a{
        background: transparent;
    }

    .logoBtn{
        border: none;
    }

    ul li a:hover{
        background: none;
        color: rgb(253, 56, 7);
    }

    .showNav{
        height: auto;
    }

    ul li a:hover{
        color: rgb(253, 56, 7);
    }
}

