body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;

}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    border-bottom: lightgray 1px solid;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar-title{
    padding: 0.8em 1em 0.8em 1em;
    font-size: 1.2em;
    font-weight: bold;
}

.navbar-title-link{
    color: inherit;
    text-decoration: none;
}

.navbar-title-link:hover{
    color: #1976d2 ;
    
}

.navbar-button{
    height: 100%;
    width: 8em;
    font-size: 0.75em;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 0em 0em;
}

.navbar-button:focus{
    outline: none;
}

.navbar-button:hover{
    color: #1976d2;
}

#login{
    border: #1976d2 1px solid;
    color: #1976d2;
    padding: 0.5em 0em;
}

#logout{
    border: red 1px solid;
    color: red;
    padding: 0.5em 0em;
}

.navbar-left{
    width: 50%;
}
.navbar-right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
}

.login-button{
    padding: 0em 1.5em;
}

#center-content{
    width: 60vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: auto;
    margin-top: 8em;
    text-align: center;
}

.content-header{
    font-size: 3em;
}

.content-desc{
    width: 60%;
    margin-top: 1em;
    font-size: 1.2em;
    color: gray;
}

.tile-group{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 3em auto 3em auto;
}

.tile{
    width: 30%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: grey 1px 1px 5px 0px;
}

.tile:hover{
    color: #7d7d7d;
}

.tile-title{
    font-size: 1.75em;
    width: 100%;
    background: #eeeeee;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    padding: 0.5em 0em 0em 0em;
}

.tile-tagline{
    font-size: 1em;
    width: 100%;
    background: #eeeeee;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    padding: 0.5em 0em 1em 0em;
}

.tile-price{
    display: flex;
    text-align: end;
    align-items: baseline;
}

.price{
    font-size: 2em;
    padding-top: 0.5em;
}

.tile-info{
    padding: 0.4em 0em;
}

.tile-info-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0em;
}

.tile-button{    
    width: 95%;
    padding: 0.5em 0.5em;
    background: none;
    margin: 0.5em 0.5em;
    border: #1976d2 1px solid;
    color: #1976d2;
}

.tile-button:focus{
    outline: none;
}

.tile-button:hover{
    background-color: #1976d2;
    color: white;
}

.footer{
    width: 75%;
    margin:auto;
    border-top: lightgray 1px solid;
    padding: 3em 0em;
}

.footer-options{
    width: 80%;
    display: flex;
    align-items: flex-start;
    margin: auto;
}

.footer-menu{
    width: inherit;
}

.footer-menu-title{
    font-size: 1em;
    font-weight: bold;
}

.footer-menu-submenu{    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: none;
    padding: 1em 0em;
}

.footer-menu-submenu-button{
    background: none;
    border: none;
    color: #7d7d7d;
    padding: 0.35em 0em;
    cursor: pointer;
}

.footer-menu-submenu-button:focus{
    outline: none;
}

.footer-menu-submenu-button:hover{
    color: black;
}

.footer-info{    
    display: flex;
    justify-content: center;
    padding: 2em 0em;
    color: lightgray;
    font-size: 0.8em;
}






#list{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#search-bar{
    background-color: white;
    padding: 0.5em 1.5em;
    box-shadow:10px 5px 15px 10px lightgrey ; 
    position: fixed;
    max-width: 100%;
    width: 82%;
}

#search-field{
    background-color: white;
    border: #dddddd 1px solid;
    display: flex;
    justify-content: space-between;
    border-radius: 0.2em;
}

#search-placeholder{
    padding: 0.5em 1em;
    color: gray;
    width: 100%;
}

#search-button{
    background-color: #dee6e9;
    padding: 0.25em 1.75em 0.35em 1.75em;
    margin: .2em 0.2em;
    color: black;
    border: none;
    border-radius: 0.2em;
}

#search-button:hover{
    background-color: #6e4bd3;
    color: white;
}


#user-list{
    background-color: white;
    margin: 5em auto;
    padding-left: 1em;
    padding-right: 1em;
    display: block;
    border: #dddddd 1px solid;
    box-shadow: 5px 5px 20px 5px #dddddd;
    width: 80%;
}

#user-number{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#add-user-button{
    color: white;
    background-color: #1976d2;
    font-size: 0.75em;
    padding: 0em 1.75em;
    margin: 1.25em 0em;
    border-radius: 0.2em;
}
#add-user-button:hover{
    background-color: #1976ff;
}
#add-user-button:focus{
    outline: none;
}

#bg-modal{
    display: none;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0,0.7);
    position: absolute;
    z-index: 2;
    top: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#modal-close{
    position: absolute;
    top: 4%;
    right: 4%;
    font-size: 1.5em;
    width: 40px;
    background: none;
    border: none;
}

#modal-close:focus{
    outline: none;
}
#modal-close:hover{
    top:4.5%;
    color: #6e4bd3;
}

#new-error-message{
    display: flex;
    justify-content: center;
    color: red;
}
.modal-new-user{
    width: 525px;
    height: 425px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5%;
}

#modal-header{
    display: flex;
    justify-content: center;
}

#pop-up-add{
    
    position: relative;
    left: 83%;
    padding: 0.5em 1em;
    margin: 1em 0em;
}
#pop-up-add:hover{
    background-color: #6e4bd3;
    border-color: #6e4bd3;
}
#pop-up-add:focus{
    outline: none;
    
}

#new-user-form-button{
    color: white;
    background-color: #1976d2;
    font-size: 1.5em;
    padding: 0em 1em;
    margin: 0em 0em;
    border-radius: 0.2em;
}

#new-user-form-row{
    display: flex;
    justify-content: flex-end;
}


#new-user-div{
    display: block;
    width: 60%;
    transition: visibility 0s, opacity 0.5s linear;
}

#user-search{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0em;
    border: #dddddd 1px solid;
}
.user-search-placeholder-text{
    width: 100%;
    font-size: 1em;
    border: none;
}

.user-search-placeholder-text:focus{
    outline:none;
}

#user-search-alt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0em;
}

#user-search-placeholder{
    padding: 0.5em 0.5em;
    color: gray;
    width: 100%;
}

#user-search-button{
    background-color:white  ;
    padding: 0.25em 0.75em 0.35em 1.5em;
    margin: 0.2em 0.2em;
    color: black;
    border: none;
    border-radius: 0.2em;
}

#user-search-button:hover{
    background-color: #dee6e9;
    color: #1976d2;
}

#user-search-button:focus{
    outline: none;
}
#user-search-button:active{
    position: relative;
    top:1px;
}

.user-list-icon{
    height: 15px;
    width: 15px;
    padding-right: 0.5em;
}

#user-list-details{
    margin-top: 2em;
    margin-bottom: 1em;
    min-width: 100%;
    border-bottom: #dddddd 1px solid;
}
.user-list-head{
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}

.user-list-item{
    display: flex;
    flex-direction: row;
    padding: 0.5em 0em;
    border-right: #dddddd 1px solid;
    border-left: #dddddd 1px solid;
    border-top: #dddddd 1px solid;
}

.no-user-list-item{
    padding: 0.5em 0em;
    border-right: #dddddd 1px solid;
    border-left: #dddddd 1px solid;
    border-top: #dddddd 1px solid;
    display: flex;
    justify-content: center;
}

.list-column{
    padding-left: 1em;
}
.name{
    min-width: 20%;
}
.email{
    min-width: 20%;
}
.status{
    min-width: 10%;
}

.status-active{
    width: 60%;
    padding-left: 0.5em;
    color: rgba(5, 229, 245);
    border: rgb(5, 229, 245) 1px solid;
}

.status-active:hover{
    width: 60%;
    padding-left: 0.5em;
    background-color: rgb(72, 241, 4);
    border: rgb(72, 241, 4) 1px solid;
}

.status-inactive{
    width: 60%;
    padding-left: 0.5em;
    color: rgba(100, 94, 94, 0.979);
    border: rgba(100, 94, 94, 0.979) 1px solid;
}

.status-inactive:hover{
    width: 60%;
    padding-left: 0.5em;
    background-color: #e20505;
    border: #e20505 1px solid;
}


.status-button{
    padding-left: 0.5em;
}
.status-button:focus {
    outline: none;
}
.role{
    min-width: 10%;
}
.last-login{
    min-width: 10%;
}
.permission{
    min-width: 10%;
}
.option{
    justify-content: flex-end;
    font-size: 1em;
    min-width: 10%;
    text-align: center;
}

.option.list-column{
    background-color: white;
    border: none;
    font-weight: bold ;
    
}
.option.list-column:focus{
    outline: none;
}
.new-user-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 1em;
    border: #dddddd 1px solid;
}
.error-row{
    border: none;
}

